.body {
  background-color: #e5e5e5;
}
.container {
  width: 100%;
}
.header {
  background: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
.header__paragrafo__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  margin-top: 40px;
}
.header__paragrafo {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  color: #ffff;
}
.header__search {
  background: rgba(255, 255, 255, 0.2);
  max-width: 900px;
  width: 100%;
  height: 65px;
  position: relative;
}
.header__search__input {
  background: rgba(255, 255, 255, 0.2);
  max-width: 900px;
  width: 100%;
  height: 65px;
  border-radius: 5px;
  border: transparent;
}
.header__search__input::placeholder{
  color: #ffff;
  position: absolute;
  top: 35%;
  left: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  opacity: 0.5;
}
.header__search__icon {
  color: #ffff;
  font-size: 25px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30%;
  left: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.main {
  max-width: 900px;
  margin: 100px auto;
}
.chamada {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #ffffff;
  margin-bottom: 50px;
  border-radius: 5px;
}
.chamada__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 25px;
}
.chamada__data {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b6b6b6;
}
.chamada__icon {
  font-size: 16px;
  color: #574ae8;
  cursor: pointer;
}
.chamada__icon--filled {
 color: #574ae8;
 display: none;
 font-size: 16px;
 cursor: pointer;
  
}
.chamada__titulo {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #313131;
  padding: 0 25px;
  margin-bottom: 8px;
}
.chamada__span {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #b6b6b6;
  padding: 0 25px 25px;
}

/***Tratamento Responsivo****/

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header__search {
    max-width: 768px;
    width: 90%;
  }
  .main {
    max-width: 768px;
    margin: 50px auto;
  }
  .chamada {
    max-width: 768px;
    width: 90%;
    margin: 25px auto;
  }
}
@media (max-width: 500px) {
  .header__search {
    max-width: 768px;
    width: 90%;
    height: 40px;
  }
  .header__search__input {
    height: 40px;
  }
  .header__search__icon {
    top: 30%;
    left: 10px;
  }
  .header__search__icon__p {
    position: absolute;
    top: 30%;
    left: 40px;
  }
  .chamada__titulo {
    font-size: 18px;
    line-height: 22px;
  }
  .chamada__span {
    font-size: 14px;
    line-height: 26px;
    padding: 0 25px 5px;
  }
}
